body{
    margin: 0px;
    background-color: hotpink;
}
header{
    display: inline;
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    color: whitesmoke;
    background-color: darksalmon;
}
div {
    margin-left: 60px;
    margin-top: 60px;
}
header a{
    text-decoration: none;
}
header a:hover{
    background-color: olivedrab;
    color: blue;
}
header h1{
    text-align: center;
}
header ul{
    margin-left: 60px;
    list-style-type: none;
}
header ul li{
    display: inline-block;
    position: left;
}